<footer class="footer footer-text">
    <div class="footer-left">
        <p>Contact<br>
            <img src="/assets/images/mails.png" style="width: 15px; height: 15px; vertical-align: middle;">
            <a href="mailto:diddustjs98@dgist.ac.kr" style="font-size: 0.8rem;">diddustjs98@dgist.ac.kr</a> | 
            <a href="mailto:yangyeonsun98@gmail.com">yangyeonsun98@gmail.com</a>
        </p>
    </div>
    <div class="footer-right">
        <p>Last updated: {{ site.time | date: '%B %d, %Y' }}</p>
    </div>
</footer>

