<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="icon" type="image/svg+xml" href="{{ '/assets/img/favicon.svg' | relative_url }}?v=1">
<link rel="alternate icon" type="image/svg+xml" href="{{ '/assets/img/favicon.svg' | relative_url }}?v=1">
<link rel="shortcut icon" href="{{ '/assets/img/favicon.svg' | relative_url }}?v=1">
<link rel="apple-touch-icon" href="{{ '/assets/img/favicon.svg' | relative_url }}?v=1">

<!-- end custom head snippets -->
