
<section class="head" id="nav">
    <div class="head-inner-wrap">
        <div class="profile-pic-div animated">
            <a href="#about" class="profile-pic-link"><img src="assets/images/ys.png" class="profile-pic"/></a>
        </div>
        <div class="head-name head-title animated" id="head-name">👋 I'm Yeonsun Yang. </div>
        <div class="head-punchline animated">I’m in my 3rd year of a combined master's and Ph.D. program in <a href="https://www.dgist.ac.kr/en_eecs/" class="highlight_info" target="_blank">Electrical Engineering and Computer Science (EECS)</a> at DGIST. I am working with <a href="https://jyskwon.github.io/" class="highlight_info" target="_blank">Prof. Jean Young Song</a> at <a href="https://diag.kr/" class="highlight_info" target="_blank">DIAG (Designing Intelligence Augmentation Group)</a>. <br>
            I aim to support people in enhancing their quality of life through synergistic collaboration with AI agents. Toward this overarching goal, I am specifically interested in building web-based interactive learning systems that maximize learning outcomes and deliver both motivation and personalized experiences, harnessing human cognitive ability and AI autonomy.
            <br><br><br>
            <div style="font-size: 0.9rem; color: rgb(41, 41, 41);">
                <i style="color: cornflowerblue;"><b>Keywords:</b></i> Human-Computer Interaction (HCI); Human-AI Interaction (HAI); AI in Education (AIEd); Cognitive Learning Technologies; Gamification; Crowdsourcing; Affective Computing; Facial Emotion Recognition;
                <div>
        </div>
        <div class="extra-links">
            <span class="hint--bottom bottom-link" aria-label="Email">
                <a href="mailto:diddustjs98@dgist.ac.kr"><i class="head-icon fas fa-envelope"></i></a>
            </span>
            <span class="hint--bottom bottom-link" aria-label="Twitter">
                <a href="https://twitter.com/yeonsun_yang"><i class="head-icon fab fa-twitter"></i></a>
            </span> 
            <span class="hint--bottom bottom-link" aria-label="GitHub">
                <a href="https://github.com/yeonsunYang"><i class="head-icon fab fa-github"></i></a>
            </span>
            <span class="hint--bottom bottom-link" aria-label="Curriculum vitae">
                <a href="/assets/materials/CV.pdf"><i class="head-icon"><img src="/assets/images/cv.png" style="width: 40px; height: 40px; vertical-align: middle;"></i></a>
            </span>
            <!--cv 하나 더 넣기-->
        </div>
        <!-- <div class="head-menu-wrap">
            <a class="semi-transparent-button with-border nav-links" href="#about">ABOUT</a>
            <a class="semi-transparent-button with-border nav-links" href="#skills">SKILLS</a>
            <a class="semi-transparent-button with-border nav-links" href="#projects">PROJECTS</a>
            <a class="semi-transparent-button with-border nav-links" href="#blog-posts">BLOG</a>
        </div> -->
    </div>
</section>
