<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Publications</div>
            
            <div class="paper-card">
                <div class="paper-image">
                    <img src="/assets/images/findthebot_teaser.png" alt="teaser">
                </div>
                <div class="paper-info">
                    <h2>Find the Bot!: Gamifying Facial Emotion Recognition for Both Human Training and Machine Learning Data Collection</h2>
                    <p>
                        <strong class="highlight_info" style="text-decoration: underline;">Yeonsun Yang</strong>, Ahyeon Shin, Nayoung Kim, Huidam Woo, John Joon Young Cheong, and Jean Y. Song
                    </p>
                    <p style="color: cornflowerblue; font-weight: bold; font-size: 0.9rem; font-style: italic;">CHI'24</p>
                    <div class="paper-links button-container">
                        <a href="link_to_website" class="btn-link" target="_blank"><img src="/assets/images/homepage.png" style="width: 15px; height: 15px; vertical-align: middle;"> Project Website</a>
                        <a href="/assets/materials/FindtheBot.pdf" class="btn-link" target="_blank"><img src="/assets/images/pdf-file.png" style="width: 15px; height: 15px; vertical-align: middle;"> PDF</a>
                        <a href="https://github.com/diag-dgist/FindtheBot" class="btn-link" target="_blank"><img src="/assets/images/github.png" style="width: 15px; height: 15px; vertical-align: middle;"> GitHub</a>
                        <a href="https://www.youtube.com/watch?v=vjxHJvrnhFk" class="btn-link" target="_blank"><img src="/assets/images/multimedia.png" style="width: 15px; height: 15px; vertical-align: middle;"> Demo</a>
                        <a href="/assets/materials/FindtheBot.pptx" class="btn-link" target="_blank"><img src="/assets/images/powerpoint.png" style="width: 15px; height: 15px; vertical-align: middle;"> Slide</a>
                        
                    </div>
                </div>
            </div>
            

                <!-- <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="webdev" class="semi-transparent-button with-border white-button" onclick="selected('webdev')">WebDev</a>
                    <a id="native" class="semi-transparent-button with-border white-button" onclick="selected('native')">Native</a>
                    <a id="security" class="semi-transparent-button with-border white-button" onclick="selected('security')">Security</a>
                    <a id="diy" class="semi-transparent-button with-border white-button" onclick="selected('diy')">DIY</a>

                </div> 
            <div class="projects-wrapper">
            </div> -->
        </div>
    </section>
</div>