<!DOCTYPE html>
<style>
    @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    </style>
<html lang="en-us">
    
    {% include head.html %}

<body>

    {% include nav.html %}

    {% include about.html %}

    {% include projects.html %}

    <!-- {% include blogs.html %} -->
        
    {% include extra.html %}

    {% include footer.html %}

    {% include scripts.html %}
</body>
</html>
